<div class="container">
  <div class="panel">
    <h1 class="panel-heading title is-size-2 has-text-centered">
      Hottest Tennis News
    </h1>

    {{#each News}}
    <div class="panel-block is-active">
      <div class="columns">
        <div class="column is-half">
          <ul>
            <li>
              <div class="level-left">

                <h2 class="subtitle is-size-4">
                  <a href="https://www.atptour.com{{this.url}}">
                    {{this.headline}}
                  </a>
                </h2>
              </div>
            </li>
            <li>
              <img width="500" src="https://www.atptour.com{{this.thumbNail}}">

            </li>
            <li>
              <p>{{category}}</p>
            </li>

          </ul>
        </div>
        <div class="column is-half">
          <div class="columns  is-multiline">
            <div class="column is-full">
              <span data-id="{{this._id}}" class="box">

                <h2 class="subtitle is-size-4">Comments</h2>

                {{#each comment}}
                <article class="media ">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        {{this.body}}
                        <br />
                        <small class="is-size-7">Posted at: {{this.time}}</small>
                      </p>
                    </div>
                  </div>
                  <hr>
                </article>
                {{/each}}

              </span>
            </div>
            <div class="column is-full">

              {{!-- TO POST A COMMENT --}}
              <section class="media postComment">
                <div class="media-content">
                  <div class="field">
                    <p class="control">
                      <textarea data-id="{{this._id}}" class="textarea" placeholder="Add a comment..."></textarea>
                    </p>
                  </div>
                  <a class="button " data-id="{{this._id}}">Submit</a>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <span class="links ">
      <a href="/scrape">Scrape Info</a> |
      <a href="/news">Scraped Info</a> |
      <a href="/populatedNews">All Comments and News</a>
    </span>
  </div>
</div>