<div class="container">
      <div class="panel">
        <p class="panel-heading has-text-centered">
          Hottest Tennis News
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Search" />
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        {{#each article}}
        <div class="panel-block is-active">
          <ul>
            <li>
              <div class="level-left">
                <span class="panel-icon">
                  <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                <h2 class="subtitle">
                  {{this.headline}}
                </h2>
              </div>
            </li>
            <li>
              <p>
                {{this.summary}}
              </p>
            </li>
            <li>
              <a href={{this.url}}>Read it Here</a>
            </li>
            <li>
                {{!-- on click remove class .is-hidden on #getComments --}}
              <p>Comments</p>
            </li>
            <li>
              {{#each comment}}
              <article id="getComments" class="media is-hidden">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <small>{{this.createdAt}}</small>
                      <br />
                      {{this.comment}}
                    </p>
                  </div>
                </div>
                <div class="media-right">
                  <button class="delete"></button>
                </div>
              </article>
              {{/each}}
              {{!-- on click remove class .is-hidden on #postComments --}}
              <a class="button is-info">Add Comment</a>
              {{!-- TO POST A COMMENT --}}
              <article id="postComment" class="media is-hidden">
                <div class="media-content">
                  <div class="field">
                    <p class="control">
                      <textarea
                        class="textarea"
                        placeholder="Add a comment..."
                      ></textarea>
                    </p>
                  </div>

                  <div class="level">
                    <div class="level-left">
                      <div class="level-item">
                          {{!--  --}}
                        <a class="button is-info">Submit</a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </li>
          </ul>
        </div>
        {{/each}}
        <a href="/scrape">Scraped Info</a>
        <a href="/articles">All articles Info</a>
      </div>
    </div>